<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MacSauced</title>
    <script>
      const si = require('systeminformation')
      const cmd = require('./../../utils/cmd.js')
      const sudo = require('sudo-prompt')
      const exec = require('child_process').exec
    </script>
    <style>
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: url('./roboto-regular.woff2') format('woff2');
    }
    </style>
    <script src="./../../bundle/bundle.js" type="text/javascript" defer></script>
  </head>
  <body>
    <div id="seed"></div>
  </body>
</html>
